---
---

@import "variables";
@import "elements";
@import "layout";


#quote {
  background-image: url(/images/backgrounds/green_and_red_fat_cells.png);
  background-size: 100%;
  background-repeat: no-repeat;

  color: white;

  .quote {
    &::before {
      color: white;
    }
  }
}
