<section id="learn-more">
  <div class="container">
    <h2 class="editable">Our Members</h2>
      {% assign num_of_uls = site.staff_members | size | divided_by: 3 | plus: 1 %}

      {% for index in (1..num_of_uls) %}
        <ul class="thirds">
          {% assign member_offset = index | minus: 1 | times: 3 %}
          {% for member in site.staff_members offset: member_offset limit: 3 %}
            {% include staff-member.html member=member %}
          {% endfor %}
        </ul>
      {% endfor %}
  </div>
</section>