<section id="news">
  <div class="container">
    <h2 class="editable">Recent News</h2>
    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
    {% for post in site.posts %}
      {% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
      {% assign author = site.staff_members | where: "url", author_id | first %}
      <div class="post">
        <div class="post-title">
          <h3>{{ post.title }}</h3>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
        {{ post.content }}
        <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
      </div>
    {% endfor %}
  </div>
</section>