<section>
  <div class="container our-projects">
    <h2 class="editable">
      Our Focus
    </h2>
    <p class="editable">
      <img src="/images/hands.jpg" /> Without insulin, your body would not be able to regulate how much fuel (glucose) to provide to your muscles or how much energy should be put into storage as fat. Without insulin, you get diabetes (too much sugar in the blood, and not enough where it belongs). My lab studies the cells in the pancreas that make and release insulin in order to learn how they help to regulate energy needs of the body and to learn how to fix what goes wrong with the beta-cells in type 2 diabetes. <a href="/projects/overview">See our work and specific projects.</a><br /><br />Here is a link to all of our publications:&nbsp; <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=nunemaker+cs">https://www.ncbi.nlm.nih.gov/pubmed/?term=nunemaker+cs</a>
    </p>
  </div>
</section>

<section id="quote">
  <div class="container">
    <blockquote>
      <p class="quote editable">
        Our laboratory is devoted to finding and fixing the earliest signs of failure in insulin-producing beta-cells that lead to diabetes.<strong></strong>
      </p>
      <div class="attribute">
        <p class="meta">
          {% assign principle = site.staff_members | where: "title", "Principle Investigator" | first %}
          <span class="author editable"><strong></strong><br /></span>
          <span class="image"><img class="editable" src="" alt="" /></span>
        </p>
      </div>
    </blockquote>
  </div>
</section>