html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  min-width: 380px;
}

html {
  background: #000;
}

body {
  background: #fff;
}

img {
  max-width: 100%;
}

h1 {
  padding: 0;
  margin: 0 0 20px 0;
}

h2 {
  text-align: center;
  margin: 0;
}

h3 {
  margin: 20px 0 20px 0;
}

p {
  line-height: 1.4em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

nav {
  background: rgba(0, 0, 0, .8);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 999;
  line-height: 0;
  height: 35px;
  display: none;

  .button a {
    padding: 13px;
    font-size: .8em;
  }

  .logo {
    a {
      color: #fff;
      text-decoration: none;
      font-size: 2em;
      line-height: 1em;
    }
  }
}

header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;

  .button a {
    text-shadow: none;
    font-size: 1.4em;
  }
}

section {
  padding: 58px 0;
}

form {
  .form-group {
    margin-bottom: 15px;

    display: flex;
    flex-wrap: wrap;
    max-width: 600px;

    label {
      flex-grow: 1;
      color: black;
      text-shadow: none
    }

    input, textarea {
      flex-grow: 2;
    }
  }
}

input[type="submit"] {
  padding: 19px 39px 18px 39px;
  border: 1px solid #16a085;
  text-align: center;
  width: 100%;
}

.button a, input[type="submit"], input[type="text"], input[type="email"], textarea {
  border: 0;
  padding: 15px;
  box-sizing: content-box;
  font-size: 1em;
  font-weight: 100;
}

.button a, input[type="submit"] {
  background: #5cb85c;
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 0 0 #408040;
}

.button a {
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
  }
}

.center {
  text-align: center;
}
