.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
}

nav .button {
  position: absolute;
  right: 35px;
  top: 4px;
}

.members {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  .member {
    width: 300px;
    margin-top: 30px;
    text-align: center;

//    line-height: 150px;
    .image {
      display: inline-block;
    }

    img {
      max-width: 100%;
      height: 200px;
    }

    a {
      color: black;
    }
  }
}
blockquote {
  padding: 0;
  margin: 50px 0 0 0;
  position: relative;

  .quote {
    padding: 25px 25px 0 50px;
    border-radius: 5px;
    position: relative;
    font-size: 2em;
    margin: 0;

    &::before {
      content: "\201C";
      font-family: Georgia, serif;

      font-size: 60px;
      font-weight: bold;
      color: #3d3d3d;

      position: absolute;
      left: 9px;
      top: 23px;
    }
  }

  .meta {
    text-align: right;
    vertical-align: middle;

    .author {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .image {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;

    overflow: hidden;
    margin: 0 0 0 15px;
    border-radius: 50%;
    vertical-align: bottom;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.join_form {
  .form-container {
    display: flex;

    .form-padding {
      flex-grow: 1;
    }

    form {
      background: #f4f7f8;
      border-radius: 8px;
      border: 1px solid #fff;
      padding: 3em;
      font-family: Georgia,"Times New Roman",Times,serif;
      box-shadow: 2px 2px 2px 1px #4d4d4d;

      flex-grow: 1;
    }
  }

  padding: 100px 0;
  color: #fff;
  text-shadow: 1px 1px 1px #3d3d3d;
}

footer {
  background: #000;

  padding: 40px 0;

  &, a {
    color: #8e8e8e;
  }

  a:hover {
    color: #fff;

    svg {
      fill: #fff;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  p, address {
    font-size: 1.0em;
  }

  svg {
    fill: #8e8e8e;
    height: 20px;
    position: relative;
    top: 4px;
  }

  a {
    text-decoration: none;

    svg:hover {
      fill: #fff;
    }
  }

  .container {
    @media #{$desktop} {
      display: flex;
      align-items: center;
    }
    div {
      @media #{$desktop} {
        width: 33%;
        margin: 0;
      }
      margin: 20px 0;
      box-sizing: content-box;
      padding: 0 25px;

    }
  }

  .attribution {
    .entity img {
      margin: .5em;
    }
  }
}

.learn-more {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  font-size: 1.6em;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }
  .arrow {
    font-size: 1em;
    font-size: .6em;
    position: relative;
    top: -2px;
  }
}

.copyright {
  padding: 5px 0 35px 0;
  margin: 0;
  background: #000;
  text-align: center;
  font-size: 1em;
  a {
    color: #8e8e8e;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
.post-title {
  img {
    border-radius: 200px;
    display: inline-block;
    float: left;
    margin: 8px 13px 0 0;
  }

  h3 {
    margin: 0;
  }

  .date {
    padding: 0;
    margin: 0;
    font-size: .8em;
    color: #888;
    opacity: .5;
  }
}

.post + .post {
  margin: 50px 0 0 0;

}

.post {
  a {
    color: #000;
  }
}

.editor-link {
  display: none;
  margin-top: 0;
  .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #f7e064;
    color: #333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #f4d525;
      color: #333;
    }
  }

}

.cms-editor-active .editor-link {
  display: block;
}

.projects img {
  float: left;
  margin: 0 20px 0 0;
}

hr {
  width: 30%;
}

#join {
  #join_form_button {
    margin-bottom: 1.5em;
  }
}


.projects {
  img {
    @media #{$tablet} {
      width: 100%;
      height: auto;
      padding-bottom: 10px;
    }

    @media #{$desktop} {
      height: 200px;
      width: 200px;
    }
  }

}

#quote {
  background-image: url(/images/backgrounds/green_and_red_fat_cells.png);
  background-size: 100%;

  color: white;
  text-shadow: 2px 2px 2px #000 !important;

  .quote {
    &::before {
      color: white;
    }
  }
}
